[Unit]
Description=Nginx Prometheus Exporter
Documentation=https://github.com/nginx/nginx-prometheus-exporter
Wants=network-online.target nginx.service
After=network-online.target nginx.service

[Service]
User=nginx_exporter
Group=nginx_exporter
Type=simple
ExecStart={{ nginx_exporter_install_dir }}/nginx-prometheus-exporter \
  -nginx.scrape-uri={{ nginx_exporter_scrape_uri }} \
  -web.listen-address={{ nginx_exporter_listen_address }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
