apiVersion: 1

providers:
  - name: bulletins
    orgId: 1
    folder: Bulletins
    type: file
    disableDeletion: false
    editable: true
    allowUiUpdates: true
    options:
      path: /var/lib/grafana/dashboards
