[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
SupplementaryGroups=systemd-journal
Type=simple
ExecStart={{ node_exporter_install_dir }}/node_exporter \
  --web.listen-address={{ node_exporter_listen_address }} \
  --collector.textfile.directory={{ node_exporter_textfile_dir }} \
  {{ node_exporter_extra_args }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
